<h1><%= @user.name %></h1>
	<table class="profile round">
		<tr>
			<td><h2>Personal Information</h2><br />
				<ul>
					<li><b>Name: </b><%= @user.name %></li><br />
					<li><b>Email: </b><%= @user.email %></li><br />
					<li><b>Member Since: </b><%= (@user.created_at.to_formatted_s(
								:long_ordinal)).gsub! /\d\d\:\d\d/, '' %></li><br />
					<li><b>Location: </b><%= @user.location %></li><br />
					<li><b>Hobbies: </b><%= @user.hobbies %></li><br />
					<li><b>Artistic Influences: </b><%= @user.influences 
														%></li><br />
					<li><b>Inspired by: </b><%= @user.inspiration %></li><br />
				</ul>
			</td>
			<td><h2>Projects</h2><br />
				<% unless @projects.empty? %>
					<% @projects.each do |project| %>
						<ul>
							<li><%= project.name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								<%= (project.created_at.to_formatted_s(
								:long_ordinal)).gsub! /\d\d\:\d\d/, '' %></li><br />
						</ul>
					<% end %>
				<% end%>
			</td>
			<td><h2>Links</h2><br />
				<ul>
					<li><%= link_to "Facebook", "#" %></li><br />
					<li><%= link_to "Twitter", "#" %></li><br />
					<li><%= link_to "Website", "#" %></li><br />
					<li><%= link_to "Other", "#" %></li><br />
				</ul>
			</td>
		</tr>
	</table>