<ul>
	<% if user_signed_in? %>
	<li><%= link_to "Create New Project", new_project_path %></li><br />
	<li><%= link_to "View Projects", projects_path %></li><br />
	<li><%= link_to "Artist Profile", user_path(current_user.id) %></li><br />
	<li><%= link_to "Edit Profile", edit_user_registration_path %></li><br />
	<li><%= link_to "Sign Out", destroy_user_session_path %></li><br />
	<% end %>
</ul>