<h1><%= @user.email %>'s Projects: </h1>
	<ul class="projects">
		<% @projects.each do |project| %>
			<li>
				<%= project.name %><br />
				<%= project.content %><br />
				<%= project.inspire_file_name %><br />
				<%= link_to "Inspirational Files", project.inspire.url %><br />
				<%= project.created_at %><br />
				<%= link_to "Edit", "projects/#{project.id}/edit" %><br />
			</li>
		<% end %>
	</ul>